<div class="samples">
    <button *ngFor="let sample of samples" class="sample" [ngClass]="sample.type"
        [class.selected]="sample === selectedSample" (click)="selectedSample = sample">
        {{ sample.label }}
    </button>
</div>

<div class="image">
    <img src="../../assets/images/{{selectedSample.image}}" />
    <span class="label">{{selectedSample.label}}</span>
</div>

<div class="actions">
    <button class="action" *ngFor="let action of actions" [class.selected]="action == selectedAction"
        (click)="selectedAction = action">
        {{ action }}
    </button>
</div>

<app-dilution *ngIf="selectedAction === 'Dilution'" [sampleConc]="selectedSample.conc"
    (diluted)="onDiluted($event)"></app-dilution>
