:host {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.samples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.samples .sample {
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    vertical-align: top;
}

.samples .sample.stock {
    background-color: #ece;
}

.samples .sample.unknown {
    background-color: #cee;
}

.samples .sample.dilution {
    background-color: #eec;
}

.samples .sample.selected {
    border: 2px #aaa dashed;
}

.image {
    display: inline-block;
    position: relative;
}

.image img {
    height: 200px;
}

.image .label {
    background-color: rgba(255, 255, 255, 0.8);
    left: 50%;
    padding: 0.2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

button.action {
    background-color: #eee;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    margin: 5px;
    padding: 20px 30px;
    text-decoration: none;
}

button.action.selected {
    background-color: #4caf50;
    color: #fff;
}

table {
    border-collapse: collapse;
    max-width: 800px;
    width: 100%;
}

table th,
table td {
    border: 1px solid #bbb;
    padding: 0.3em 0.5em;
}

table th {
    background-color: #ddd;
    font-weight: normal;
}
