:host {
    flex: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

a {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-position: center;
    background-size: cover;
}

span {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 32px;
    padding: 10px;
}

.alcohol {
    background-image: url("../../assets/images/alcohol.jpg");
}

.caffeine {
    background-image: url("../../assets/images/caffeine.jpg");
}

.salt {
    background-image: url("../../assets/images/salt.jpg");
}

.uvvis {
    background-image: url("../../assets/images/kmno4.png");
}

.cv {
    background-image: url("../../assets/images/electrodes.jpg");
}

hr {
    border: 1px solid #ddd;
    width: 100%;
}
