@font-face {
    font-family: "digital";
    src: url("assets/fonts/digital.woff2") format("woff2"),
        url("assets/fonts/digital.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #333;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

form {
    margin: auto;
    width: 100%;
    max-width: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input,
select {
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: inherit;
    padding: 12px 20px;
    width: 100%;
}

button {
    color: inherit;
    font-size: inherit;
}

form button {
    background-color: #4caf50;
    border-radius: 4px;
    border: none;
    color: white;
    margin: 8px 0;
    padding: 14px 20px;
    width: 100%;
}

form button[disabled] {
    background-color: #ca6666;
}

form button:not([disabled]):hover {
    background-color: #45a049;
    cursor: pointer;
}

.samples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.samples .sample {
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    vertical-align: top;
}

.samples .sample.stock {
    background-color: #ece;
}

.samples .sample.unknown {
    background-color: #cee;
}

.samples .sample.dilution {
    background-color: #eec;
}

.samples .sample.selected {
    border: 2px #aaa dashed;
}

.image {
    display: inline-block;
    position: relative;
}

.image img {
    height: 200px;
}

.image .label {
    background-color: rgba(255, 255, 255, 0.8);
    left: 50%;
    padding: 0.2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

button.action {
    background-color: #eee;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    margin: 5px;
    padding: 20px 30px;
    text-decoration: none;
}

button.action.selected {
    background-color: #4caf50;
    color: #fff;
}

table {
    border-collapse: collapse;
    max-width: 800px;
    width: 100%;
}

table th,
table td {
    border: 1px solid #bbb;
    padding: 0.3em 0.5em;
}

table th {
    background-color: #ddd;
    font-weight: normal;
}

.google-chart {
    width: 100% !important;
}
